DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=majangbuku
DATABASE_PORT=5435
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_NAME}
PAYLOAD_SECRET=YOUR_SECRET_HERE
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
